@font-face {
	font-family: "SFProBold";
	src: url("/assets/SFProBold.otf")
}
html {
  height: 100%;
  width: 100%;
  background-color: #F5F5F7;
font-family: "SFProBold", sans-serif;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

img {
  width: 100%;
}

body {
	font-size: 16px;
	color: #333;
}

header {
	background-color: #fff;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
	padding: 20px 0;

}

nav ul {
  text-align: center;
	list-style: none;
	display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #434344;
}

nav ul li {
	display: inline-block;
	margin-right: 20px;
}

nav ul li a {
	color: #D9D9DA;
	text-decoration: none;
	padding: 10px;
}

nav ul li a:hover {
	color: #E8E8ED;
}

video {
  top: 0;
  left: 0;
  width: 100%;
  height: 75vh;
  z-index: -1;
  object-fit: cover;
}

#logoBanner {
  position: relative;
  z-index: 2;
}
